appdirs==1.4.3     
asgiref==3.4.1 
flask==2.0.2    
backports.zoneinfo==0.2.1     
CacheControl==0.12.6    
certifi==2019.11.28
chardet==3.0.4     
colorama==0.4.3     
contextlib2==0.6.0
distlib==0.3.0
distro==1.4.0
django
django-filter==21.1
djangorestframework
et-xmlfile==1.1.0
html5lib==1.0.1
idna==2.8
importlib-metadata
ipaddr
joblib
lockfile
Markdown
msgpack
numpy
openpyxl==3.0.9
packaging==20.3
pandas
pep517==0.8.2
psycopg2-binary==2.9.3
pyparsing==2.4.6
python-dateutil==2.8.2
pytoml==0.1.21
pytz==2021.3
requests
retrying
scikit-learn
scipy
setuptools==44.0.0
six==1.14.0
sqlparse==0.4.2
threadpoolctl==3.0.0
urllib3==1.25.8
webencodings==0.5.1
wheel==0.34.2
xlrd==2.0.1
zipp
gunicorn